view {
    display: inline-block;
}

/******************** Flexbox Appliers Classes ************************/
.flex-direction-row {
    display: flex;
    flex-direction: row;
}

.flex-direction-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-direction-column {
    display: flex;
    flex-direction: column;
}

.flex-direction-column-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.flex-wrap-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

.flex-wrap-wrap-reverse {
    flex-wrap: wrap-reverse;
}

.justify-content-flex-start {
    justify-content: flex-start;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.align-items-flex-start{
    align-items: flex-start;
}

.align-items-flex-end{
    align-items: flex-end;
}

.align-items-center{
    align-items: center;
}

.align-items-baseline{
    align-items: baseline;
}

.align-items-stretch{
    align-items: stretch;
}

.align-content-flex-start {
    align-content: flex-start;
}

.align-content-flex-end{
    align-content: flex-end;
}

.align-content-center{
    align-content: center;
}

.align-content-stretch{
    align-content: stretch;
}

.align-content-space-between{
    align-content: space-between;
}

.align-content-space-around{
    align-content: space-around;
}

.align-self-flex-start{
    align-self: flex-start;
}

.align-self-flex-end{
    align-self: flex-end;
}

.align-self-center{
    align-self: center;
}

.align-self-baseline{
    align-self: baseline;
}

.align-self-stretch{
    align-self: stretch;
}